* {
    box-sizing: border-box;
    margin: 0;
}

header {
    margin-bottom: 0px;
}

.container {
    max-width: 1180px;
    margin: auto;
}

.menu {
    background: #f4f5f8;
    padding-top: 5px;
    padding-bottom: 5px;
}
.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.display {
    list-style: none;
}
.form {
    background-color: #ffffff;
}

#city {
    margin-right: 107px;

    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    color: #36383f;
}

.nav_item a {
    text-decoration: none;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #6e7284;
}

.nav_item a:hover {
    text-decoration: none;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #f04716;
}

.nav_item:not(:last-child) a {
    margin-right: 20px;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
}

#phone {
    margin-left: 77px;
    margin-right: 20px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
}

#call_order {
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #4788ff;
}

#logo img {
    padding-top: 30px;
    margin-right: 134px;
}

#search {
    width: 518px;
    height: 46px;

    background: url("../assets/image/search_icon.png") no-repeat 3%;

    padding-left: 40px;

    border: 1px solid #dedfe7;
    border-radius: 12px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6e7284;
}

.header_button {
    border: none;
    border-radius: 12px;
    margin-left: 5px;
    background-color: #ffffff;
}
.header_button:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 2px 8px #444;
}

.products_list {
    background-color: #0a4ecb;
}
.products {
    height: 52px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.products li:hover {
    color: #fffa2f;
    cursor: pointer;
}

.products li:first-child {
    background-color: #04358f;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
