main {
    background-color: #dcdde7;
    margin-top: 0px;
}
/*Section1*/

#constructor {
    width: 780px;
    height: 480px;

    background-image: url("/Week5/assets/image/rectangle2.jpg");
    border-radius: 12px;
}

.offers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    height: 500px;
    padding-top: 10px;
}

h1 {
    margin-top: 0px;
    padding-left: 7%;
    padding-top: 7%;
    width: 65%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    background: linear-gradient(90deg, #0a4ecb 0%, #4788ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.offers_text {
    padding-left: 7%;
    margin-bottom: 10%;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 67%;

    color: #36383f;
}

#constructor_button {
    width: 262px;
    height: 58px;
    margin-left: 7%;
    margin-top: 5%;
    padding-left: 5%;

    background: linear-gradient(90deg, #f04716 0%, #ffc62f 100%);
    border-radius: 12px;
    border: none;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

#constructor_button:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 2px 8px #444;
}

#production {
    margin: auto;
    width: 32%;
    height: 230px;
    border-radius: 12px;
    background-image: url("/Week5/assets/image/rectangle6.jpg");
}

#production a,
#show_room a {
    padding-left: 7%;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    color: #0a4ecb;
}

#show_room {
    margin: auto;
    width: 32%;
    height: 230px;
    border-radius: 12px;
    background-image: url("/Week5/assets/image/rectangle35.jpg");
}

.heading_offers {
    width: 70%;
    padding-top: 10%;
    padding-left: 7%;
    margin-bottom: 5%;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;

    color: #36383f;
}

/*Section2*/

h3 {
    padding-top: 60px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    color: #36383f;
}

#walls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    height: 520px;
}

.walls_item {
    width: 280px;
    height: 520px;
    margin-right: 20px;
    padding-bottom: 10px;

    background: #ffffff;
    border-radius: 12px;
}

.walls_item img:first-child {
    margin: 20px 20px 0 20px;
}

.wall_title {
    width: 240px;
    margin: 10px 20px 15px 20px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    color: #36383f;
}

.wall_price {
    width: 154px;
    padding-left: 20px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;

    color: #36383f;
}

.wall_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.walls_item button {
    border: none;
    background-color: #ffffff;
    background: url("/Week5/assets/image/section2/add-hover.svg") no-repeat
        center;
    padding-bottom: 15px;
}
.walls_item button img:hover {
    cursor: pointer;
    opacity: 0;
}

/*Section3*/
.catalog {
    margin-top: 20px;
    margin-bottom: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
}
.catalog_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 280px;
    height: 230px;
    padding-bottom: 40px;
    margin-right: 15px;

    background: #ffffff;
    border-radius: 12px;
}
.catalog_item:hover {
    cursor: pointer;
}

.catalog_item img {
    margin: auto;
}
.catalog_text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #36383f;
}
/*Section4*/
.subscribe {
    background: #0a4ecb;
}
.subscribe_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 232px;
}
.subscribe_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    margin-right: 73px;
}
h4 {
    margin-bottom: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;

    color: #ffffff;
}

.subscribe_pph {
    width: 527px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #ffffff;
}

.email {
    width: 383px;
    height: 64px;
    background: #04358f;
    border-radius: 12px;
    margin-right: 20px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-indent: 30px;

    color: #dedfe7;
}
.subscribe_flex button {
    width: 177px;
    height: 64px;

    background: #ffc62f;
    border-radius: 12px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

    color: #1d1e22;
}
.subscribe_flex button:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 2px 8px #444;
}
